body {
    font-size:14px;
}

h1 {
    font-size:30px;
    margin-bottom:20px;
    border-bottom: 1px #eee solid;
}

.title {
    font-size:22px;
    padding-bottom:20px;
    border-bottom: 1px #eee solid;
}

.ui-growl {
    width:280px;
    right:5px;
}

.ui-growl-item-container {
    top: 80px;
    background-image: linear-gradient(#333, #111);
    color:#EDEDED;
    opacity: .98;
}

.ui-growl-message {
    width: 180px;
}

.input-group {
    margin-bottom: 4px;
}

#logo {
    color:#fff;
    font-weight:bold;
    font-size:1.5em;
}

#repol-logo {
    float:left;
    margin-right:10px;
    max-height:50px;
}

#logo-text {
    float:right;
    padding-top:4%;
}

.navbar-fixed-top .navbar-brand {
    padding: 8px 0;
}

.container > .navbar-header {
    min-height: 60px;
}

#content {
    padding-left:5%;
    padding-right:5%;
    min-height:80vh;
}

#footer {
    border-top: 1px #eee solid;
    margin-top:30px;
    margin-bottom:20px;
    padding-top:15px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    /*RCUB custom */
    /* background-color: #8d8d8d; */
    background-color: #f05532;
}

/*RCUB custom */
.nav-pills > li > a:hover {
    background-color: #fdebe7;
}

.nav > li > a {
    color: #1d1d1d;
}

.dashboard {
    text-align:center;
    vertical-align: middle;
    padding:15px;
    border: 1px solid #fff;
    border-radius: 9px;
}

.dashboard label {
    padding:8px;
    border: 2px solid #ffffff;
    margin-bottom:10px;
}

.uninitialized {
    background: #eeeeee
}

.operational {
    background: #BBFFBB;
}

.malfunction {
    background: #EE8080;
}

.busy {

}

/* RCUB CUSTOM */

a, a:hover {
    color:#f05532;
}

.navbar-inverse {
    border-bottom: 5px solid #f05532;
    background-image: url("images/header_pattern.png");
    box-shadow: 0px 0px 10px #888888;
}

.navbar-inverse .navbar-nav > li > a {
    color: #eee;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover {
    color:#fff;
    background-color: #f05532;
    border-radius: 5px;
}

.ui-growl {
    top: 30px;
}

.ui-growl-item {
    color:#000;
    background-color: #eee;
    border-radius:5px;
}

.form-separator {
    margin-top:10px;
    margin-bottom:30px;
}

.form-input-element-box {
    width:98%;
}

.form-input-element {
    border-right: 1px solid #eee;
    display:block;
    min-height:35px;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:5px;
    border-bottom:1px solid #eee;
    font-size:0.85em;
}

.big-form-input-element {
    min-height:60px;
    display: block;
}

.form-input-element-label {
    padding-right:10px;
}

.addValueRow {
    white-space: nowrap;
}

.remove-clink {
    float:right;
}

.checkboxLabel {
    margin-left:15px;
}

.forms {
    margin-top:20px;
}

.form-header {
    font-size:1.1em;
    margin-bottom:10px;
    padding-top:10px;
    padding-bottom:10px;
}


.selected {
    border:2px solid #eee;
    box-shadow: 1px 2px #efefef;
}


.bool-button {
    margin-left:1px;
}

h4 {
    margin-bottom:20px;
}

.form-panel {
    margin-top:10px;
    margin-bottom:20px;
}

.poolpicker-grid {
    margin-bottom:20px;
}

.ui-panelgrid .ui-panelgrid-cell {
    border:none;
}

.form-description {
    display:inline-block;
    width:100%;
    margin-top:20px;
    margin-bottom:30px;
    border:1px solid #eee;
    padding:20px;
    font-size:1.2em;
}

.submission-time {
    font-size: 1.1em;
    font-weight: lighter;
    float:right;
    display:inline-block;
}

.ui-tooltip-right {
    max-width:400px;
    font-size:1.2em;
}

.empty_mandatory {
    box-shadow: 1px 1px 2px #f00;
    padding:5px;
}

.form-element-description {
    display:block;
    margin:6px;
    padding:4px;
    padding-left:10px;
    margin-top:2px;
    color:#10285a;
}

.form-element-description > a, a:hover {
    color: #f05532;
}

.ui-progressbar.ui-widget-content {
    height: 25px;
}

.ui-progressbar .ui-progressbar-value.ui-widget-header {
    height:25px;
    background-color: #cfc;
    background-image:none;
}

#upload_download {
    margin-top:40px;
}

.footer-img {
    max-height:55px;
    margin-left:20px;
}

.header-img {
    max-height:40px;
}

.buttonized {
    border: 1px solid #eee;
    border-radius:10px;
    padding:10px;
    padding-top:15px;
    padding-bottom:15px;
    background:#fafafa;
    text-align: center;
}

.footer-ec {
    font-size:0.9em;
}

.spec-element-table {
    margin-bottom:35px;
    font-size:0.9em;
}

.element-separator {
    background: #777;
    color:#fff;
}

.ui-widget-content a {
    color:#f05532;
}

.form-element-triggers {
    margin-bottom:30px;
    border-bottom:2px dotted #eee;
}

.trigger-condition {
    margin-top:15px;
    border:1px solid #ddd;
    padding:5px;
    font-size:1.1em;
}

.trigger-itself {
    margin-left:20px;
}

.fa-eye {
    margin-left:10px;
}

.default-value {
    background-color:#caffca;
}

form-element-description-specs {
    font-size:1.1em;
}

.value-row {
    margin-bottom:7px;
    border-bottom:1px #f5f5f5 solid;
}

.spaced-bottom {
    margin-bottom:30px;
}

.spaced-top {
    margin-top:30px;
}

.ui-state-disabled {
    background: none;
}

.float-right {
    float:right;
}

.forward-link, .backward-link {
    border:2px solid #eee;
    padding:4px;
    color:#f05532;
}

.forward-link {
    margin-right:10px;
    padding-left:10px;
    padding-right:5px;
}

.backward-link {
    margin-left:10px;
    padding-right:10px;
    padding-left:5px;
}